/SisCapV2/resources/td.details-control {
	background: url('/SisCapV2/resources/image/details_open.png') no-repeat
		center center;
	cursor: pointer;
}

tr.details td.details-control {
	background: url('/SisCapV2/resources/image/details_close.png') no-repeat
		center center;
}

#resposta {
	color: #337ab7;
}

.error {
	color: red;
}

.link_page{
	text-align: center;
    margin-bottom: 4px;
}

.blue {
	margin-top: -25px;
    background: #10baed;
    margin-bottom: 35px;
}

body {
	background-color: #ebedec;
}

.title-page {
	color: #fdfdfd;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
    margin-left: -195px;
}

.logo{
	width: 50px;
    height: 50px;
    margin-top: 11px;
    margin-left: 231px;
}

.group-button {
	text-align: right;
    margin-top: 38px;	
    cursor: default;
}

.group-button span {
	cursor: pointer;	
}

.group-button-footer {
	text-align: right;
    margin-top: 18px;	
    cursor: default;
}

.group-button-footer span {
	cursor: pointer;	
}

