/SisCapV2/resources/td.details-control {
	background: url('/SisCapV2/resources/image/details_open.png') no-repeat
		center center;
	cursor: pointer;
}

tr.details td.details-control {
	background: url('/SisCapV2/resources/image/details_close.png') no-repeat
		center center;
}

#resposta {
	color: #337ab7;
}